extends layout

block content
    div.container
        form(action='/settings/add' method='POST')
            input(type='text' placeholder='Whitelist...' name='listWord' required=true)
            input(type='hidden' name='listType' value='whitelist')
            button(type='submit') Save

        form(action='/settings/add' method='POST')
            input(type='text' placeholder='Blacklist......' name='listWord' required=true)
            input(type='hidden' name='listType' value='blacklist')
            button(type='submit') Save

        label Select WhiteLsit Word for Deletion (Select 1 or More...)
        select(required=true)
            each item in appSett
                each word in item.whitelist
                    option(value=word._id) #{word.word}
                else
                    option No data to display
            button(type='submit') Delete

    label Select Blacklist Word for Deletion (Select 1 or More...)
        form(action='/settings/delete' method='POST' enctype='application/x-www-form-urlencoded')
            select(required=true name='blacklistSelect')
                each item in appSett
                    each word in item.blacklist
                        option(value=word._id) #{word.word}
                    else
                        option No data to display.
            button(type='submit') Delete


    if message
            p= message