extends layout

block content
    div.container
        h1 General Settings
        label Update general settings by filling out each field and clicking 'Submit'.
        form(action='/settings/update' method='POST')
            |Update Refresh (mins) *Requires App Restart
            input(type='number' min='15' max='60' placeholder=appSett[0].updateRefresh+'...' name='formUpdateRefresh')
            br
            |Slide Speed (secs)
            input(type='number' min='1' max='60' placeholder=appSett[0].slideSpeed+'...' name='formSlideSpeed')
            br
            br

            button(type='submit') Update
        br
        h1 Whitelist Settings
        h2 Add a Query to the whitelist.
        p Hashtags e.g: #bournemouth
        p User Mentions e.g: @RatioNetwork
        p From specific user e.g: from:RatioNetwork
        p Phrases e.g: "Ratio are cool"
        p Includes images e.g: Beach filter:images
        br
        label Enter New Query and Geo-location (optional)
        form(action='/settings/add' method='POST')
            input(type='text' placeholder='Whitelist...' name='listWord' required=true)
            input(type='text' placeholder='latitude, longitude, radius' name='geoCode')
            input(type='hidden' name='listType' value='whitelist')
            button(type='submit') Save
        label Select Whitelist Query for Deletion (Select 1 or More...)
        form(action='/settings/delete' method='POST' enctype='application/x-www-form-urlencoded')
            input(type='hidden' name='listType' value='whitelist')
            select(required=true name='whitelistSelect')
                each item in appSett
                    each word in item.whitelist
                        option(value=word._id) #{word.word}
                    else
                        option(value=0) No data to display.
            button(type='submit') Delete
        br

        h1 Blacklist Settings
        label Add a word to the blacklist
        form(action='/settings/add' method='POST')
            input(type='text' placeholder='Blacklist......' name='listWord' required=true)
            input(type='hidden' name='listType' value='blacklist')
            button(type='submit') Save
        label Select Blacklist Word for Deletion (Select 1 or More...)
        form(action='/settings/delete' method='POST' enctype='application/x-www-form-urlencoded')
            input(type='hidden' name='listType' value='blacklist')
            select(required=true name='blacklistSelect')
                each item in appSett
                    each word in item.blacklist
                        option(value=word._id) #{word.word}
                    else
                        option(value=0) No data to display.
            button(type='submit') Delete

        if message === 'undefined'
            p No changes detected.
        else
            p= message