extends layout

block content
    div.container
        if message
            div.request_message
                span(onclick="this.parentElement.style.display='none';").close_btn &times;
                = message
        div.general_container
            h1 General Settings
            h2 Update
            br
            div.form_container
                form(action='/settings/update' method='POST')
                    label Update Refresh (mins) *Requires App Restart:
                    br
                    input(type='number' min='15' max='60' placeholder='Current: '+appSett[0].updateRefresh+'...' name='formUpdateRefresh')
                    br
                    br
                    label Update Slide Speed (secs):
                    br
                    input(type='number' min='10' max='60' placeholder='Current: '+appSett[0].slideSpeed+'...' name='formSlideSpeed')
                    br
                    br
                    button(type='submit').btn Update

        div.whitelist_container
            h1 Whitelist Settings
                h2 Guide
                br
                p.
                    Please make each query as specific as possible using the patterns listed below. Failure to do so
                    could result in random and undesired results.
                p • To include Tweets with hashtag use the # symbol. Example: #bournemouth
                p • To include Tweets with user mentions use the @ symbol. Example: @RatioNetwork
                p • To include Tweets from specific user use from:USER pattern. Example: from:RatioNetwork
                p • To include Tweets with phrases the "PHRASE" symbols. Example: "Ratio are kickass"
                p • To include Tweets with images use filter:media pattern. Example: Beach filter:media
                p • To not include retweets add the -RT pattern. Example: #Bournemouth -RT
                p.
                    • Geo-location is an optional field that will include Tweets from that location and radius. Example input
                    for London with a radius of 50 miles: 51.50853, -0.12574, 50mi
                p.
                    • It is recommended to use the following website for latitude/longitude coordinates:
                    #[a(href='http://latitudelongitude.org/') latitudelongitude.org]
            br
            br
            h2 Add
            br
            div.form_container
                form(action='/settings/add' method='POST')
                    label Enter New Query:
                    br
                    input(type='text' placeholder='Query...' name='listWord' required=true).whitelist_input
                    br
                    br
                    label Enter Geo-location (optional):
                    br
                    input(type='text' placeholder='Latitude, longitude, radius...' name='geoCode').loglat_input
                    input(type='hidden' name='listType' value='whitelist')
                    br
                    br
                    button(type='submit').btn Save
            br
            h2 Delete
            br
            div.form_container
                form(action='/settings/delete' method='POST' enctype='application/x-www-form-urlencoded')
                    input(type='hidden' name='listType' value='whitelist')
                    label Select Whitelist Query for Deletion:
                    br
                    div.select_container
                        select(required=true name='whitelistSelect')
                            each item in appSett
                                each word in item.whitelist
                                    option(value=word._id) #{word.word}
                                else
                                    option(value=0) No data to display.
                    br
                    button(type='submit').btn Delete

        div.blacklist_container
            h1 Blacklist Settings
            p.
                Use this section to alter the blacklist settings. Any word in the blacklist will be used to filter out any
                unwanted content from appearing on the social slide. To block a specific user simply enter the username
                like so: RatioNetwork
            br
            br
            h2 Add
            br
            div.form_container
                form(action='/settings/add' method='POST')
                    label Add a Word to the Blacklist:
                    br
                    input(type='text' placeholder='Blacklist......' name='listWord' required=true)
                    input(type='hidden' name='listType' value='blacklist')
                    br
                    br
                    button(type='submit').btn Save
            br
            h2 Delete
            br
            div.form_container
                form(action='/settings/delete' method='POST' enctype='application/x-www-form-urlencoded')
                    input(type='hidden' name='listType' value='blacklist')
                    label Select Blacklist Word for Deletion:
                    br
                    div.select_container
                        select(required=true name='blacklistSelect')
                            each item in appSett
                                each word in item.blacklist
                                    option(value=word._id) #{word.word}
                                else
                                    option(value=0) No data to display.
                    br
                    button(type='submit').btn Delete