extends layout

block content
    - var isVideo = false;
        if isVideo
            div().video
        else
            div(style='background-image: url(' + source + ')').rear_img
            img(src=source).front_img

    div.sm_post
        img#avatar(src=smPostModel.postAvatarUrl)
        img#sm_logo(src=smPostModel.smPlatformLogo)
        div#txt_name= smPostModel.name
        div#txt_username= smPostModel.userName
        div#txt_content= smPostModel.postContent
        div#txt_date= smPostModel.postDate

