extends layout

block content
    - var isVideo = false;
        if isVideo
            div().video
        else
            div(style='background-image: url(' + source + ')').rear_img
            img(src=source).front_img

    div.sm_post
        img#avatar(src=smAvatar)
        img#sm_logo(src=smLogo)
        div#txt_name= smName
        div#txt_username= smUsername
        div#txt_content= smPostContent
        div#txt_date= smDate
